<div class="container mt-5">
    <div class="text-center mb-4"> 
        <h1>Selecciona una fuente:</h1>
    </div>

    <div class="card-container">
        <div class="card">
            <img src="../../assets/elpais" class="card-img-top" alt="El País">
            <div class="card-body">
                <h5 class="card-title">El País</h5>
                <p class="card-text">Las últimas noticias de El País.</p>
                <button class="btn btn-primary" (click)="irAElegirTipoBusqueda()">Buscar</button>
            </div>
        </div>
        <div class="card">
            <img src="../../assets/twitter" class="card-img-top" alt="Twitter">
            <div class="card-body">
                <h5 class="card-title">Twitter</h5>
                <p class="card-text">Las últimas noticias de Twitter.</p>
                <button class="btn btn-primary">Buscar</button>
            </div>
        </div>
        <div class="card">
            <img src="../../assets/youtube" class="card-img-top" alt="Youtube">
            <div class="card-body">
                <h5 class="card-title">Youtube</h5>
                <p class="card-text">Las últimas noticias de Youtube.</p>
                <button class="btn btn-primary">Buscar</button>
            </div>
        </div>
    </div>
</div>