<div class="container">
    <div class="row mt-5">
      <div class="col-md-6">
        <div class="card bg-light">
          <div class="card-body">
            <h5 class="card-title"><fa-icon [icon]="faDatabase" style="font-size: 24px"></fa-icon> Buscar en la Base de Datos</h5>
            <p class="card-text">Encuentra noticias en el histórico de noticias.</p>
            <button routerLink="/filtro_noticia" class="btn btn-primary">Buscar</button>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card bg-light">
          <div class="card-body">
            <h5 class="card-title"><fa-icon [icon]="faSearch" style="font-size: 24px"></fa-icon> Buscar Noticias Nuevas</h5>
            <p class="card-text">Ejecuta el script para buscar noticias nuevas.</p>
            <button routerLink="/buscar_noticias" class="btn btn-primary">Buscar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  